
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a asp-controller="Shoe" asp-action="Details" asp-route-shoeId="1">
                <img class="carousel-image" src="https://www.bananafingers.co.uk/sites/default/files/styles/product_gallery_full/public/product-images/footwear/la_sportiva_futura.jpg?itok=mk3tuk6k" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a asp-controller="Shoe" asp-action="Details" asp-route-shoeId="2">
                <img class="carousel-image" src="https://www.bananafingers.co.uk/sites/default/files/styles/product_gallery_full/public/product-images/footwear/la_sportiva_solution.jpg?itok=G2m7MQEF" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a asp-controller="Shoe" asp-action="Details" asp-route-shoeId="7">
                <img class="carousel-image" src="https://shop.cdn.epictv.com/FV7D0lhnRWWhADXL2OLw-917c326a874c1f255002a0fb7e4ec25d.jpeg" class="d-block w-100" alt="...">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="fa fa-chevron-left" aria-hidden="false"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="fa fa-chevron-right" aria-hidden="false"></i>
        <span class="sr-only">Next</span>
    </a>
</div>



