<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClimbingShoebox</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/94308c0f38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://maps.googleapis.com/maps/api/js?"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @await Component.InvokeAsync("CategoryAndBrandMenu")
                        <a class="nav-link text-dark" asp-controller="StoreLocations" asp-action="Index">Store Locations</a>
                        @await Component.InvokeAsync("ShoppingCartSummary") 
                        @await Component.InvokeAsync("FavouritesSummary") 
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer center-on-small-only pt-0">

        <!--Footer Links-->
        <div id="footer-container" class="container">

            <!--Grid row-->
            <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a class="text-light" asp-controller="Home" asp-action="AboutUs">About us</a></h6>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a class="text-light" asp-controller="Shoe"
                                                   asp-action="List">Products</a></h6>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a class="text-light" asp-controller="Home" asp-action="Help">Help</a></h6>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a class="text-light" asp-controller="Home" asp-action="Contact">Contact</a></h6>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="rgba-white-light" style="margin: 0 15%;">

            <!--Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                <!--Grid column-->
                <div class="col-md-8 col-12 mt-5">
                    <p style="line-height: 1.7rem">
                        We are a fake online climbing shoe store - serving all your fake climbing shoe needs since 2020!
                    </p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">



        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
