@model FavouritesCollectionViewModel
@{
    ViewData["Title"] = "Favourite Shoes";
}

<h2>Favourite Shoes:</h2>

@if (Model.tempMessage != null)
{
    <div class="alert alert-info text-center">@Model.tempMessage</div>
}

<div class="containerflex">
    @foreach (var item in Model.FavouritesCollection.FavouritesCollectionItems)
    {
        <partial name="_FavouriteShoeCard" model="@item.Shoe" />
        <form asp-action="AddComment" asp-route-favouriteCollectionItemId="@item.FavouritesCollectionItemId" method="post" role="form">
            <textarea asp-for="@item.Comment"></textarea>
            <input type="submit" value="Save comment" />
        </form>
        
    }
</div>
