@model ShoesListViewModel
@{
    ViewData["Title"] = "Shoes";
}


<h1>All Climbing Shoes</h1>

<div class="card-columns">
    @foreach (var shoe in Model.Shoes)
    {
        <partial name="_ShoeCard" model="shoe" />
    }
</div>

