@model ShoesListViewModel
@{
    ViewData["Title"] = "Shoes";
}


<h1>@Model.CurrentCategoryOrBrand</h1>
<br />
<div class="card-columns">
    @foreach (var shoe in Model.Shoes)
    {
        <partial name="_ShoeCard" model="shoe" />
    }
</div>

