@model ShoesListViewModel
@{
    ViewData["Title"] = "Shoes Search";
}


<h1>@Model.CurrentCategoryOrBrand</h1>
<br />
<div class="card-columns">
    @foreach (var ratedShoe in Model.RatedShoes)
    {
        <partial name="_ShoeCard" model="ratedShoe" />
    }
</div>