@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}
<br />
<h1>Welcome to Climbing Shoebox</h1>
<br />
<partial name="_Carousel" />

<br />
<br />
<hr />
<br />
<h2>Check out this week's featured shoe:</h2>

<div class="featureShoeCard">
    <partial name="_ShoeCard" model="@Model.FeaturedShoe" />
</div>
