@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}


<partial name="_Carousel" />
<br /><br />
<h1>Welcome to Climbing Shoebox</h1>
<hr />
<h2>Check out this week's featured shoe:</h2>

<partial name="_ShoeCard" model="@Model.FeaturedShoe" />