/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: normal;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}


.btn {
    margin-bottom: 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-success {
    background-color: #00887A;
    margin-top: 4px;
    margin-bottom: 4px;
}


#favouriteCardButtons {
    padding-left: 4px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.navbar-nav > li {
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-menu {
    padding-left: 6px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #77A6F7;
    color: #FFFFFF;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

h1, h2 {
    text-align: center;
}

p {
    color: #FFFFFF;
}


#homeSearch {
    max-width: 60vw;
    margin: auto;
}

@media only screen and (max-width: 1600px) {
    #homeSearch {
        max-width: 30vw;
    }
}

@media only screen and (max-width: 1200px) {
    #homeSearch {
        max-width: 50vw;
    }
}

@media only screen and (max-width: 800px) {
    #homeSearch {
        max-width: 80vw;
    }
}

.card {
    background-color: #D3E3FC;
    border-radius: 10px;
    width: 19vw;
    margin: 5px;
}

    .card:hover {
        box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    }


@media only screen and (max-width: 2500px) {
    .card {
        width: 12vw;
    }
}


@media only screen and (max-width: 1600px) {
    .card {
        width: 19vw;
    }
}


@media only screen and (max-width: 1200px) {
    .card {
        width: 21vw;
    }
}

@media only screen and (max-width: 992px) {
    .card {
        width: 23vw;
    }
}

@media only screen and (max-width: 750px) {
    .card {
        width: 35vw;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 90vw;
    }
}



.card h3, .card h6, .card p {
    color: #00887A;
}

.card-img {
    width: 50%;
    height: auto;
}


.carousel-image {
    width: 30vw;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.featureShoeCard {
    width: 30vw;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

    .featureShoeCard p {
        color: #00887A;
    }


@media only screen and (max-width: 1100px) {
    .carousel-image {
        width: 40vw;
    }

    .featureShoeCard {
        width: 40vw;
    }
}

hr {
    border-color: #FFFFFF;
}


.containerflex {
    display: flex;
    flex-wrap: wrap;
}

.product-landing-card {
    background: #FFFFFF;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.3);
    padding: 5px;
    border-radius: 10px;
}

.product-landing-img-toppane {
    width: 60vw;
}


@media only screen and (min-width: 700px) {
    .product-landing-img-toppane {
        display: none;
    }
}

.product-landing-img-rightpane {
    width: 20vw;
}

@media only screen and (max-width: 2500px) {
    .product-landing-img-rightpane {
        width: 20vw;
    }
}

@media only screen and (max-width: 1600px) {
    .product-landing-img-rightpane {
        width: 25vw;
    }
}

@media only screen and (max-width: 1000px) {
    .product-landing-img-rightpane {
        width: 35vw;
    }
}

@media only screen and (max-width: 699px) {
    .product-landing-img-rightpane {
        display: none;
    }
}


.product-landing-card h3, .product-landing-card p {
    color: #00887A;
    padding-left: 10px;
}
